---
---

@import "{{ site.theme }}";

.row {
  display: flex;
  flex-direction: row;
}

#logo {
  margin-left: auto;
  padding-left: 20px;
  // background-image: url("/assets/imgs/logo.png");
}

#logo > img {
  height: 160px;
  width: auto;
}

header h1 {
  margin-left: 0px;
}

#sidebar {
  flex: 30%;
  // background-color: #666;       // dull gray
  // background-color: #A6729B;    // purple in `inline` text
  // background-color: #B5E853;    // green in text
}

.sidebar-img {
  padding: 20px;
  background-image: url("/assets/imgs/pcb.jpg");
  background-repeat: repeat-y;
}

.sidebar-inner {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity/see-through */
}

.sidebar-category {
  color: #B5E853;
}

.sidebar-link {
  color: #A9749E; // #CECECE;
  text-shadow: 0 0 2px #61435B; // #A9749E; // #CECECE;
}

#main_content {
  margin-left: 40px;
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 500px) {
    .row {
        flex-direction: column;
    }
    #main_content {
        margin-left: 0px;
    }
    #logo {
        margin-left: 0px;
        padding-left: 0px;
    }
    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .mobile-only {
        display: block;
        padding: 20px 20px;
        border-bottom: 1px dashed $conifer;
    }
}
